body{
	text-align: center;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
}

h2{
	color: #D8B770;
	font-family: 'Oswald', sans-serif;
	font-weight: 400


}

p{
	font-size: 16px;
	font-family: 'Lato', sans-serif;

}

a{
	color: #B2967D;
	text-decoration: none;
	font-size: 16px;
	font-weight: bolder;
}

#text-into{
	margin-bottom: 30px
}

#bgcafe{
	background-image: url('https://images.unsplash.com/photo-1556742526-795a8eac090e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2134&q=80');
	background-position: 10% 30%;
    background-repeat: no-repeat;
    background-size: 800px auto;
  	opacity: 0.5;
}

.cta{
	background-color: #7C7A7A;
	padding: 10px 30px;
	color: white;
	border-radius: 5px;
}

.cta:hover{
	background-color: #666363;
}

i{
	font-size: 32px

}

img{
	-webkit-filter: grayscale(100%); 
  	filter: grayscale(100%);
  	border-radius: 50%;
}


.container{
	width: 900px;
	margin: 20px auto;
	border-color: black;
	background-color: #EDDFC9;

}

@media (max-width: 920px) {
	.container{
		width: 700px;
	}
}

@media (max-width: 720px) {
	.container{
		width: 500px;
	}
}

@media (max-width: 540px) {
	.container{
		width: 300px;
	}
}

.card{
	background-color: white;
	padding: 20px;
	width: 700px;
	margin-top: 10px;
	margin: 20px auto;
	box-shadow: 0px 10px 30px  rgba(235, 235, 234, 1)
}

ul{
	list-style: none; 
	padding-left: 0px;
}

#inline{
	display: inline;
}

